/*
* @Author: KathyF
* @Date:   2017-04-07 14:34:17
* @Last Modified by:   KathyF
* @Last Modified time: 2017-04-07 17:56:37
*/
body {
	margin-top: 60px;
	text-align:center;
	background-color: #F5F5F5;
}
.jumbotron{
	background-image:url('bg.jpg');
	background-size: 100% 100%;
}
#background{
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	background-color:rgba(245,245,245,0.7);
	padding-top: 5% ;
	padding-bottom: 5%;
}
